[submodule "embedded/src/arduino-mcp23017"]
	path = embedded/src/arduino-mcp23017
	url = https://github.com/blemasle/arduino-mcp23017.git
[submodule "embedded/src/ams5812"]
	path = embedded/src/ams5812
	url = https://github.com/bolderflight/ams5812.git
[submodule "embedded/src/ArduinoSerialCommand"]
	path = embedded/src/ArduinoSerialCommand
	url = https://github.com/scogswell/ArduinoSerialCommand.git
[submodule "embedded/src/ams5915"]
	path = embedded/src/ams5915
	url = https://github.com/bolderflight/ams5915.git
